body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.side-div {
  height: 100vh;
  width: 50vw;
  background-color: #000000;
  align-items: center;
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-row.brand {
  width: fit-content;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 70vw;
  height: 10vh;
}

tr {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  height: 100%;
  width: 100%;
}

tr:nth-child(1) {
  font-size: 2rem;
  font-weight: bolder;
}

tr:nth-child(2), tr:nth-child(4) {
  font-size: 2rem;
  font-weight: bolder;    
}

tr:nth-child(3) {
  width: 10%;
}

tr:nth-child(5) {
  width: 50%; 
}

tr:nth-child(5) {
  width: 50%;
  font-size: xx-large;
  font-weight: bolder; 
}

.primary {
  color: white;
  background: #036B52;
}

.secundary {
  color: white;
  background: #2FC18C;
}

.terciary {
  color: white;
  background: #421981;
}

button {
  border: none;
  margin: 5px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  width: 50%;
  min-height: 15%;
  cursor: pointer;
  padding: 0.65rem;
  font-weight: 600;
  transition: all ease 0.3s;
}

button.primary:hover {
  background: #60B483;
}

button.terciary:hover {
  background: #5434b3;
}

.disabilitado {
  background-color: grey !important;
}

.disabilitado:hover {
  background-color: gray;
}

.product-card {
  border: 2px solid  #2FC18C;
  border-radius: 3px;
  margin: 3px;
  width: 15%;
}

.purple {
  color: white;
  background: #421981;
}

.blue {
  color: white;
  background: blue;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.filters button {
  max-width: 10vh;
  min-width: 10vh;
}

.navbar {
  width: 100vw;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  margin-top: 0;
  top: 0;
}

.navbar button {
  width: 20vw;
  height: 5vh;
  margin: 0;
  border-radius: 0;
}

.navbar h1 {
  background-color: #000000;
  color: white;
  height: 5vh;
  width: 40vw;
  white-space: nowrap;
  text-align: center;
  font-size: xx-large;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}